@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&family=Parisienne&display=swap');
@import "tailwindcss";

@theme {
  --font-primary: 'League Spartan', sans-serif;
  --font-secondary: 'Parisienne', sans-serif;

  --color-primary: #292929;
  --color-secondary: #F8F6F1;
  --color-tertiary: #2F4F3E;
  --color-neutral: #C2C3C3;
  --color-optional: #dfeed7;
  --color-alert-neutral: #C96F7B;
}

body {
  font-family: var(--font-primary);
}

